.conteudoCoffee{
    background-color: #a18262;
    border-radius: 1%;
    padding: 8px;
    margin-top: 10px;
    color: white;
    text-indent: 50px;
    opacity: 0.80;
}

.config{
    margin-top: 120px;
}